@charset "utf-8";
/* Belajar CSS*/

/*mengatur margin utk 1 layar halaman web*/
*{
 /* margin: 0px; */
}

body{
	/*
	background-color: #fdfdfd;
	background-image:url(gambar/monitor_code.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; */
	background: #fdfdfd url(gambar/monitor_code.png) no-repeat fixed center; font-family:sans-serif;	
}

/*
a{
	display: block;
}
*/

h1{
	color:#114CEB;
	text-align:center;
	text-decoration: underline;
	display:inline;
}

h2{
	text-align:center;
	text-transform:uppercase;
	display:inline;
}

#text_pendek{
	font-size:24px;
	font-family:sans-serif;
	font-weight: bold;
	background:#D3F800;
	width: 50%;
	height: 200px;
	max-width: 30%;
	max-height: 100px;
	/*visibility:hidden;*/
	display:none;
}

#text_panjang{
	text_align: justify;
	text-indent: 30px;
	/*letter-spacing: 5px;
	word-spacing: 5px;
	line-height: 20px;
	*/
}

#menu_wrap{
	/*margin: top right bottom left;*/
	margin: 10px 0 50px 0;
}

.menu{
	display:inline-block;
	/*height: 50px;
	  width: 100px;	
	  text-decoration:none; */
	
	/*border-width: 3px;
	  border-style:solid;
	  border-color:#000000; */
	 
	border: 3px solid #000000;
	padding: 10px 5px;
}

/*kondisi biasa*/
.menu:link{
	background:#8B8B8B;
	color:#FFFFFF;
}

/*kondisi stelah dikunjungi*/
.menu:visited{
	background:#E7FC10;
}

/*kondisi hover- Mouse berada diatas link*/
.menu:hover{
	background:#04CD0E;
}

/*sedang diklik*/
.menu:active{
	background: #FFFFFF;
}

/*---mengatur posisi di CSS---*/
/*---1. static, 2. relative, 3. absolute, 4. fixed---*/
#menu_member{
	/*position:relative;*/
	position:absolute;
	top: 70px;
	left: 20px;
}

#h2_member{
	background:#F0FF00;
	position:fixed;
	top: 100px;
	left: 20px;
}