@charset "utf-8";
/* Belajar CSS*/

body{
	/*
	background-color: #fdfdfd;
	background-image:url(gambar/monitor_code.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; */
	background: #fdfdfd url(gambar/monitor_code.png) no-repeat fixed center; font-family:sans-serif;	
}

h1{
	color:#114CEB;
	text-align:center;
	text-decoration: underline;
}

h2{
	text-align:center;
	text-transform:uppercase;
}

#text_pendek{
	font-size:24px;
	font-family:sans-serif;
	font-weight: bold;
	background:#D3F800;
	width: 50%;
	height: 200px;
	max-width: 30%;
	max-height: 100px;
}

#text_panjang{
	text_align: justify;
	text-indent: 30px;
	/*letter-spacing: 5px;
	word-spacing: 5px;
	line-height: 20px;
	*/
}

/*kondisi biasa*/
.menu:link{
	background:#8B8B8B;
	color:#FFFFFF;
}

/*kondisi stelah dikunjungi*/
.menu:visited{
	background:#E7FC10;
}

/*kondisi hover- Mouse berada diatas link*/
.menu:hover{
	background:#03420D;
}

/*sedang diklik*/
.menu:active{
	background: #FFFFFF;
}

